:root {
    --background-color-green: rgb(0, 130, 0);
    --button-border-color: rgb(58, 248, 29);
    --button-background-color: rgb(50, 248, 10);
}

div.main {
    padding-top: 15px;
    width: 100%;
    background-color:rgb(23, 48, 25);
    padding-bottom: 200px;

    border-radius: 0;
}
/* TIN TUC NOI BAT------------------------------------------------------  */
/*TIN TUC NOI BAT------------------------------------------------------  */
.main > .tintucnoibat {
    margin-bottom: 40px;
}

    /* CONTENT -----------------------*/
.tintucnoibat > .content {
    width: 80%;
    margin: auto;
    display: flex;
    padding-top: 5px;
    border: solid 1px var(--border-color);
    border-top: none;
    border-radius: 0;
    background-color: var(--background-color-green);
}

        /* CONTENT-LEFT-------------- */
.tintucnoibat > .content > .content-left {
    width: 60%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-right: solid 1px white;
}
.tintucnoibat > .content > .content-left > a {
    width: 100%;
    text-decoration: none;
    color: black;
}
.tintucnoibat > .content > .content-left > a > img{
    border: solid 1px white;
    border-bottom-left-radius: 0;
    box-shadow: 0 0 10px rgb(80, 80, 80);
}
.tintucnoibat > .content > .content-left > a > div {
    border-top-right-radius: 0;
    background-color: rgb(255, 255, 255);
    padding: 0 5px;
    margin-bottom: 15px;
    border: solid 1px rgb(255, 255, 255);
    display: block;
    box-shadow: 0 0 10px rgb(80, 80, 80);
    padding-bottom: 9px;
    position: relative;
}
.tintucnoibat>.content >.content-left > a:hover > div {
    background-color: rgb(244, 244, 244);
    border-radius: 0;
    transition: 200ms;
    margin-top: 5px;
    margin-bottom: 8px;
    border: solid 1px white;
}
.tintucnoibat > .content > .content-left > a > div > p:last-child {
    position: absolute;
    right: 0;
    bottom: -16px;
    font-size: 9px;
    padding: 2px 20px;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.598);
    color: white;
    display: none;
}
.tintucnoibat>.content >.content-left > a:hover > div > p:last-child {
    display: block;
}

.tintucnoibat>.content >.content-left > a:hover > img {
    transform: scale(1.04, 1.04);
    overflow: hidden;
    transition: 200ms;
    transition-timing-function: ease-in-out
}
.tintucnoibat > .content > .content-left > a > div > .caption {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bolder;
    padding: 10px 15px 10px 15px;
}
.tintucnoibat > .content > .content-left > a > div > .time {
    margin-top: -30px;
    padding-left: 15px;
    font-size: 11px;
    color: rgb(80, 79, 79);
    margin-bottom: 15px;
}
.tintucnoibat > .content > .content-left > a > div > .node {
    color: rgb(56, 55, 55);
    width: 100%;
    height: 86px; 
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    font-size: 14px;
    padding: 0 10px;
    margin-bottom: 10px;
}
.tintucnoibat > .content > .content-left > a > div > .node::first-letter {
    margin-left: 25px;
}


        /* CONTENT-RIGHT------------- */
.tintucnoibat > .content > .content-right {
    width: 40%;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.tintucnoibat > .content > .content-right > ul {
    padding: 0;
}
.tintucnoibat > .content > .content-right > ul > li {
    background-color: rgb(255, 255, 255);
    margin-bottom: 7px;
    border: solid 1px white;
    box-shadow: 0 0 10px rgb(80, 80, 80);
    position: relative;
}
.tintucnoibat > .content > .content-right > ul > li:first-child {
    border-top-right-radius: 20px;
}
.tintucnoibat > .content > .content-right > ul > li:last-child {
    border-bottom-left-radius: 20px;
}
.tintucnoibat > .content > .content-right > ul > li > a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    display: flex;
}
.tintucnoibat > .content > .content-right > ul > li > a > img{
    width: 111px;
    height: 74px;
    border: solid 1px white;
    border-radius: 0;
    box-shadow: 0 0 3px rgb(119, 119, 119);
}
.tintucnoibat > .content > .content-right > ul > li:last-child > a > img {
    border-bottom-left-radius: 20px;
}
.tintucnoibat > .content > .content-right > ul > li > a > div > .caption {
    height: 45px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bolder;
    padding: 5px 15px 5px 0px;
    margin-bottom: 0;
    text-transform: uppercase;
    overflow: hidden;
}
.tintucnoibat > .content > .content-right > ul > li > a > div > .time {
    margin-left: 10px;
    font-size: 11px;
    color: rgb(80, 79, 79);
    margin-bottom: 0;
}

.tintucnoibat .content-right ul a > p {
    position: absolute;
    right: 0;
    bottom: -16px;
    font-size: 9px;
    padding: 2px 20px;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.598);
    color: white;
    display: none;
}


.tintucnoibat > .content > .content-right > ul > li:hover {
    background-color: rgb(244, 244, 244);
}
.tintucnoibat > .content > .content-right > ul > li:hover > a > img {
    transform: scale(1.06, 1.06);
}
.tintucnoibat > .content > .content-right > ul > li:hover > a > p {
    display: block;
}
.tintucnoibat > .content > .content-right > ul > li:hover > a > div > .caption {
    color: rgb(8, 27, 4);
}

div, img { 
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}


.tintucnoibat .news_add{
    width: 80%;
    background-color: var(--background-color-green);
    margin: auto;
    margin-top: 50px;
    padding-bottom: 20px;
}
.tintucnoibat .news_add .news_header{
    border-bottom: 1px solid #dddddd;
}
.tintucnoibat .news_add .news_header{
    padding: 5px 0px 0px 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tintucnoibat .news_add .news_header > h1{
    color: #fff;
    font-weight: bolder;
    font-size: 35px;
}
.tintucnoibat .news_add .news_item{
    width: 95%;
    height: auto;
    margin: auto;
    padding: 20px 0px 20px 30px;
    display: grid;
    grid-template-columns: 520px 520px;
    grid-column-gap: 53px;
    grid-row-gap: 30px;
    background-color: #BAFFBB;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid #fff;
}
.tintucnoibat .news_add .news_item > a{
    text-decoration: none;
    color: #212529;
    height: 150px;
    background-color: #fff;
    display: flex;
    border: 1px solid #fff;
}
.tintucnoibat .news_add .pagi{
    margin-top: 15px;
    margin-bottom: 0px;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: silver;
}
.tintucnoibat .news_add a img{
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    transition: 0.4s;
}
.tintucnoibat .news_add a:hover img{
    transform: scale(0.9);
}
.tintucnoibat .news_add a:hover{
    border: 1px solid #52d383;
}
.tintucnoibat .news_add a .news_content{
    padding: 10px 10px;
}
.tintucnoibat .news_add a .news_content > div{
    font-size: 10px;
}
.tintucnoibat .news_add a .news_content > div > span{
    color: #008200;
}
.tintucnoibat .news_add a .news_content > div > h5{
    font-weight: 600;
}
.tintucnoibat .news_add a:hover h5{
    color: #dc3545;
}
.tintucnoibat .news_add a .news_content p{
    font-size: 20px;
}
.tintucnoibat .news_add .view{
    width: 1092px;
    display: flex;
    justify-content: center;
}
.tintucnoibat .news_add .news_header > div{
    display: flex;
    align-items: center;
    width: 238px;
    padding-right: 30px;
}
.tintucnoibat .news_add .news_header > div > p{
    white-space: nowrap;
    padding-right: 10px;
    padding-top: 10px;
    color: #fff;
}
.tintucnoibat .news_add .news_header > div > select{
    width: 110px;
    padding: 4px 0px 4px 0px;
    outline: none;
    margin-top: -5px;
}
@media screen and (max-width: 1490px){
    .tintucnoibat .news_add .news_item{
        display: block;
    }
    .tintucnoibat .news_add .news_item a{
        height: auto;
        margin-bottom: 20px;
        margin-right: 30px;
    }
}
@media screen and (max-width: 1190px) {
    .tintucnoibat > .content {
        display: block;
    }
    .tintucnoibat > .content > .content-left {
        width: auto;
        margin-right: 10px;
        border: none;
    }
    .tintucnoibat > .content > .content-right {
        border: none;
        margin-top: -20px;
        padding-top: 10px;
        border-top: solid 2px white;
        width: auto;
        margin-right: 10px;
        margin-left: 10px;
    }
    .tintucnoibat > .content > .content-right > .content-right-wapper {
        padding: 0px 10px;
    }
    .tintucnoibat > .content > .content-right > .content-right-wapper > .content-main > .content-item > a > .content-title > .caption {
        font-size: 21px;
    }
}

@media screen and (max-width: 790px) {

    .tintucnoibat > .content > .content-left a div .caption {
        font-size: 28px;
    }
    .tintucnoibat > .content > .content-right > .content-right-wapper > .content-main > .content-item > a > .content-title > .caption {
        font-size: 18px;
    }

}
@media screen and (max-width: 820px){
    .tintucnoibat .news_add .news_header > h1{
        font-size: 30px;
    }
}
@media screen and (max-width: 800px){
    .tintucnoibat .news_add .news_header > h1{
        font-size: 28px;
    }
}
/* @media screen and (max-width: 770px){
    .tintucnoibat .news_add .news_item{
        display: block;
    }
    .tintucnoibat .news_add .news_item a{
        height: auto;
        margin-bottom: 20px;
    }
    .tintucnoibat .news_add .view{
        width: auto;
    }
} */
@media screen and (max-width: 740px){
    .tintucnoibat .news_add .news_header > h1{
        font-size: 22px;
    }
}
@media screen and (max-width: 700px){
    .tintucnoibat > .content > .content-right > .content-right-wapper > .content-main > .content-item > a > .content-title > .caption {
        font-size: 16px;
    }
    .tintucnoibat .news_add .news_header > h1{
        font-size: 18px;
    }
    .tintucnoibat .news_add .news_item{
        display: grid;
        grid-template-columns: repeat(2, 200px);
    }
    .tintucnoibat .news_add .news_item a{
        display: block;
        margin: 0;
    }
    .tintucnoibat .news_add .view{
        width: 435px;
    }
}
@media screen and (max-width: 660px){
    .tintucnoibat .news_add .news_item{
        display: grid;
        grid-template-columns: repeat(2, 180px);
    }
    .tintucnoibat .news_add a img{
        width: 180px;
    }
}
@media screen and (max-width: 610px){
    .tintucnoibat .news_add .news_header > h1{
        font-size: 17px;
    }
    .tintucnoibat .news_add .news_header > div > p{
        font-size: 13px;
    }
    .tintucnoibat .news_add .news_header > div{
        padding-right: 0px;
        padding-left: 45px;
    }
    .tintucnoibat .news_add .news_header > div > select{
        width: 85px;
    }
}
@media screen and (max-width: 680px){
    .tintucnoibat .news_add .news_item{
        /* padding-left: 5px; */
        grid-column-gap: 30px;
    }
}
@media screen and (max-width: 590px){
    .tintucnoibat .news_add .news_item{
        padding-left: 15px;
        grid-column-gap: 30px;
    }
}
@media screen and (max-width: 580px){
    .tintucnoibat .news_add .news_item{
        display: grid;
        grid-template-columns: repeat(2, 220px);
    }
    .tintucnoibat .news_add a img{
        width: 100%;
    }
    .tintucnoibat > .content {
        width: 100%;
    }
    .tintucnoibat .news_add {
        width: 100%;
    }
    .tintucnoibat > .news_add > .news_header > h1{
        font-size: 10px;
    }
    .tintucnoibat .news_add .news_header > div > p{
        font-size: 16px;
        padding-left: 5px;
    }
    .tintucnoibat .news_add .news_header > div{
        display: flex;
        justify-content: space-between;
        padding-right: 9px;
        width: 250px;
    }
    .tintucnoibat .news_add .news_header > div > select{
        width: 85px;
    }
    .tintucnoibat > .content > .content-left a div .caption {
        font-size: 20px;
    }
    .tintucnoibat > .content > .content-right > .content-right-wapper > .content-main > .content-item > a > .content-title > .caption{
        font-size: 12px;
    }
}
@media screen and (max-width: 580px){
    .tintucnoibat .news_add .news_item{
        display: grid;
        grid-template-columns: repeat(1, 100%);
        padding-right: 13px;
    }
    .tintucnoibat .news_add a img{
        width: 100%;
        height: 220px;
    }
    .tintucnoibat .news_add .view{
        width: auto;
    }
}