:root {
    --background-color-green:  rgb(0, 130, 0);
    --button-border-color: rgb(19, 158, 11);
    --button-background-color: rgb(27, 231, 16);
    --border-color: rgb(9, 174, 9);
}

.footerofcontent {
    border-radius: 0;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 20px;
}
.footerofcontent a {
    border: solid 1px white;
    display: block;
    text-decoration: none;
    padding: 0px 10px;
    background-color: white;
    color: black;
    font-size: 13px;
    font-weight: bolder;
    border-top: none;
    display: none;
}
.footerofcontent a:hover{
    color: black;
    background-color: rgb(224, 224, 224);
}
div.main div:hover div.content{
    border-color: white;
}
div.main div:hover div.footerofcontent a{
    display: block;
}


div.main {
    width: 100%;
    background-color: rgb(23, 48, 25);
    padding-bottom: 100px;

    border-radius: 0;
}
marquee {
    padding: 4px;
    color: rgb(30, 255, 9);
    font-size: 13px;
}

.main > .pic_forest {
    width: 100%;
    border-top: solid 1px  rgb(9, 174, 9);
    border-radius: 0;
    margin-top: -7px;
}

/*TIN TUC NOI BAT------------------------------------------------------  */
.main > .tintucnoibat {
    margin-bottom: 40px;
}

    /* CONTENT -----------------------*/
.tintucnoibat > .content {
    width: 80%;
    margin: auto;
    display: flex;
    padding-top: 5px;
    border: solid 1px var(--border-color);
    border-top: none;
    border-radius: 0;
    background-color: var(--background-color-green);
}

        /* CONTENT-LEFT-------------- */
.tintucnoibat > .content > .content-left {
    width: 60%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-right: solid 1px white;
}
.tintucnoibat > .content > .content-left > a {
    width: 100%;
    text-decoration: none;
    color: black;
}
.tintucnoibat > .content > .content-left > a > img{
    border: solid 1px white;
    border-bottom-left-radius: 0;
    box-shadow: 0 0 10px rgb(80, 80, 80);
}
.tintucnoibat > .content > .content-left > a > div {
    border-top-right-radius: 0;
    background-color: rgb(255, 255, 255);
    padding: 0 5px;
    margin-bottom: 15px;
    border: solid 1px rgb(255, 255, 255);
    display: block;
    box-shadow: 0 0 10px rgb(80, 80, 80);
    padding-bottom: 9px;
    position: relative;
}
.tintucnoibat>.content >.content-left > a:hover > div {
    background-color: rgb(244, 244, 244);
    border-radius: 0;
    transition: 200ms;
    margin-top: 5px;
    margin-bottom: 8px;
    border: solid 1px white;
}
.tintucnoibat > .content > .content-left > a > div > p:last-child {
    position: absolute;
    right: 0;
    bottom: -16px;
    font-size: 9px;
    padding: 2px 20px;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.598);
    color: white;
    display: none;
}
.tintucnoibat>.content >.content-left > a:hover > div > p:last-child {
    display: block;
}

.tintucnoibat>.content >.content-left > a:hover > img {
    transform: scale(1.04, 1.04);
    overflow: hidden;
    transition: 200ms;
    transition-timing-function: ease-in-out
}
.tintucnoibat > .content > .content-left > a > div > .caption {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bolder;
    padding: 10px 15px 10px 15px;
}
.tintucnoibat > .content > .content-left > a > div > .time {
    margin-top: -30px;
    padding-left: 15px;
    font-size: 11px;
    color: rgb(80, 79, 79);
    margin-bottom: 15px;
}
.tintucnoibat > .content > .content-left > a > div > .node {
    color: rgb(56, 55, 55);
    width: 100%;
    height: 86px; 
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    font-size: 14px;
    padding: 0 10px;
    margin-bottom: 10px;
}
.tintucnoibat > .content > .content-left > a > div > .node::first-letter {
    margin-left: 25px;
}


        /* CONTENT-RIGHT------------- */
.tintucnoibat > .content > .content-right {
    width: 40%;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.tintucnoibat > .content > .content-right > ul {
    padding: 0;
}
.tintucnoibat > .content > .content-right > ul > li {
    background-color: rgb(255, 255, 255);
    margin-bottom: 7px;
    border: solid 1px white;
    box-shadow: 0 0 10px rgb(80, 80, 80);
    position: relative;
}
.tintucnoibat > .content > .content-right > ul > li:first-child {
    border-top-right-radius: 20px;
}
.tintucnoibat > .content > .content-right > ul > li:last-child {
    border-bottom-left-radius: 20px;
}
.tintucnoibat > .content > .content-right > ul > li > a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    display: flex;
}
.tintucnoibat > .content > .content-right > ul > li > a > img{
    width: 111px;
    height: 74px;
    border: solid 1px white;
    border-radius: 0;
    box-shadow: 0 0 3px rgb(119, 119, 119);
}
.tintucnoibat > .content > .content-right > ul > li:last-child > a > img {
    border-bottom-left-radius: 20px;
}
.tintucnoibat > .content > .content-right > ul > li > a > div > .caption {
    height: 45px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bolder;
    padding: 5px 15px 5px 0px;
    margin-bottom: 0;
    text-transform: uppercase;
    overflow: hidden;
}
.tintucnoibat > .content > .content-right > ul > li > a > div > .time {
    margin-left: 10px;
    font-size: 11px;
    color: rgb(80, 79, 79);
    margin-bottom: 0;
}

.tintucnoibat .content-right ul a > p {
    position: absolute;
    right: 0;
    bottom: -16px;
    font-size: 9px;
    padding: 2px 20px;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.598);
    color: white;
    display: none;
}


.tintucnoibat > .content > .content-right > ul > li:hover {
    background-color: rgb(244, 244, 244);
}
.tintucnoibat > .content > .content-right > ul > li:hover > a > img {
    transform: scale(1.06, 1.06);
}
.tintucnoibat > .content > .content-right > ul > li:hover > a > p {
    display: block;
}
.tintucnoibat > .content > .content-right > ul > li:hover > a > div > .caption {
    color: rgb(8, 27, 4);
}


/* CHIẾN DỊCH NỔI BẬT-------------------------------------------------- */
.chiendichnoibat > .content {
    width: 80%;
    margin: auto;
    border: solid 1px var(--border-color);
    border-top: none;
    border-radius: 0;
    background-color: var(--background-color-green);
}
.chiendichnoibat > .content > ul {
    margin: 0 10px;
    padding: 5px 0;
}
.chiendichnoibat > .content > ul > li {
    margin: 10px 10px;
    margin-top: 5px;
    padding: 10px 10px;
    display: flex;
    border: solid 2px rgb(232, 232, 232);
    color: black;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(74, 74, 74) 0px 3px 5px;
    
    border-top-right-radius: 20px; 
    border-bottom-left-radius: 20px;
}
.chiendichnoibat > .content > ul > li > .pic_btn {
    display: block;
    padding: 10px 10px 15px 10px;
    background-color: white;
    box-shadow: rgb(186, 185, 185) 0px 3px 10px;
    margin-right: 5px;
    border-top-right-radius: 0;
    border: solid 1px rgb(232, 232, 232);
}
.chiendichnoibat > .content > ul > li > div > img {
    width: 243px;
    height: 182px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 20px;
    box-shadow: rgb(223, 223, 223) 0px 3px 10px;
}

.chiendichnoibat > .content > ul > li > .thongtinchiendich {
    padding: 10px;
    flex: 1;
    background-color: white;
    border: solid 1px rgb(232, 232, 232);
    box-shadow: rgb(186, 185, 185) 0px 3px 10px;
    border-bottom-left-radius: 0;
}
.chiendichnoibat > .content > ul > li > .thongtinchiendich > div {
    border: solid 1px rgb(225, 224, 224);
    width: 100%;
    height: 100%;
    padding: 0 10px;
}
.chiendichnoibat > .content > ul > li > .thongtinchiendich > div > p {
    text-shadow: 1px 1px 1px rgb(226, 225, 225);
    font-weight: bold;
    font-size: 15px;
    margin: 5px 0;
    color: rgb(62, 62, 62);
}.chiendichnoibat > .content > ul > li > .thongtinchiendich > div > p > b {
    color: rgb(31, 31, 31);
    font-weight: bolder;
    margin-right: 5px;
}


.chiendichnoibat > .content > ul > li:hover div > img {
    border: solid 1px rgb(255, 255, 255);
    box-shadow: rgb(237, 236, 236) 1px 3px 20px;
    transform: scale(1.06, 1.06);
    transition: 100ms;
    transition-timing-function: ease-in-out;
}
.chiendichnoibat > .content > ul > li:hover > .thongtinchiendich > div{
    transform: scale(1.02, 1.02);
    transition: 100ms;
    transition-timing-function: ease-in-out;
    box-shadow: rgb(237, 236, 236) 1px 3px 20px;
}


/* BIỆT ĐỘI NỔI BẬT------------------------------------------------ */
.bietdoinoibat {
    margin-top: 40px;
}
.bietdoinoibat > .content {
    width: 90%;
    margin: auto;
    padding: 5px 10px 10px 10px;
    border: solid 1px var(--border-color);
    border-top: none;
    border-radius: 0;
    background-color: var(--background-color-green);
    display: flex;
}

/* BẢNG XẾP HẠNG CHÍNH----------------------- */
.bietdoinoibat > .content > .bangxephang {
    border: solid 2px white;
    background-image: url("../Image/TrangChu/backgroundBXH2.jpeg");
    background-size: cover;
    width: 65%;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
    height: 546px;
    box-shadow: 0 0 10px rgb(50, 50, 50);
}
.bietdoinoibat > .content > .bangxephang > div {
    width: 30%;
    display: flex;
    align-items: flex-end;
}
.bietdoinoibat > .content > .bangxephang > div > div {
    position: relative;
    width: 78px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-weight: bold;
    color: rgb(7, 29, 2);
    box-shadow: 0 0 8px rgb(105, 105, 105);
    border-radius: 0;
}
.bietdoinoibat > .content > .bangxephang > div > div > a {
    position: absolute;
    /* top: -120px; */
    left: -2px;
    width: 78px;
    height: 78px;
    margin: auto;
    display: block;
    animation: avt-float-effective 1500ms infinite;
    cursor: pointer;
}
.bietdoinoibat > .content > .bangxephang > div > div > a > img {
    width: 78px;
    height: 78px;
    border-radius: 39px;
    box-shadow: 0 0 8px rgb(74, 74, 74);
}

.bietdoinoibat > .content > .bangxephang > div > div > i{
    width: 100%;
    position: absolute;
    /* top: -40px; */
    margin: auto;
    display: block;
    font-size: 30px;
    animation: medal-float-effective 1500ms infinite;
    text-shadow: 0 0 2px rgb(0, 0, 0);
}
.bietdoinoibat > .content > .bangxephang > div > div > .idgroup {
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
    color: rgb(60, 60, 60);
}
.bietdoinoibat > .content > .bangxephang > div > div > .namegroup {
    font-size: 10px;
    margin: 0;
    padding: 0;
    color: rgb(60, 60, 60);
}
.bietdoinoibat > .content > .bangxephang > div > div > .xephangtuan {
    color: red;
    font-size: 30px;
    font-weight: bolder;
    animation: rank-effective 750ms infinite;
    text-shadow: 0 0 1px rgb(0, 0, 0);
}

.bietdoinoibat > .title {
    display: flex;
    position: relative;
    justify-content: space-between;
}
.bietdoinoibat > .title > button {
    border: none;
    background-color: unset;
}
.bietdoinoibat > .title > button > i {
    font-size: 30px;
    margin-right: 20px;
    color: rgb(255, 247, 0);
}
.bietdoinoibat > .title > button:hover p{
    display: block;
}

.bietdoinoibat > .title > button > p {
    position: absolute;
    display: block;
    width: 150px;
    font-size: 9px;
    background-color: rgb(215, 211, 211);
    top: 45px;
    font-weight: bold;
    right: 10px;
    border: solid 1px;
    display: none;
}

@keyframes rank-effective {
    0% {
        color: rgb(255, 0, 0);
    }
    60% {
        color: rgb(255, 255, 0);
    }
}
@keyframes avt-float-effective {
    0% {
        top: -118px;
    }
    55% {
        top: -130px;
    }
    100% {
        top: -118px;
    }
}
@keyframes medal-float-effective {
    0% {
        top: -38px;
    }
    55% {
        top: -50px;
    }
    100% {
        top: -38px;
    }
}


.bietdoinoibat > .content > .bangxephang > .top1 > div{  
    border: solid 3px rgb(255, 255, 10);
    height: 70%;
    background-color: rgb(255, 255, 0);
}
.bietdoinoibat > .content > .bangxephang > .top1 > div img {
    border: solid 3px rgb(255, 255, 0);
}
.bietdoinoibat > .content > .bangxephang > .top1 > div i {
    color: rgb(255, 255, 0);
}
.bietdoinoibat > .content > .bangxephang > .top2 > div{  
    border: solid 3px rgb(205, 236, 236);
    height: 55%;    
    background-color: rgb(209, 240, 240);
}
.bietdoinoibat > .content > .bangxephang > .top2 > div img {
    border: solid 3px rgb(205, 236, 236);
}
.bietdoinoibat > .content > .bangxephang > .top2 > div i {
    color: rgb(209, 240, 240);
}
.bietdoinoibat > .content > .bangxephang > .top3 > div{  
    border: solid 3px rgb(220, 124, 27);
    height: 40%;
    background-color: rgb(224, 128, 31);
}
.bietdoinoibat > .content > .bangxephang > .top3 > div img {
    border: solid 3px rgb(220, 124, 27);
}
.bietdoinoibat > .content > .bangxephang > .top3 > div i {
    color: rgb(224, 128, 31);
}


/* BẢNG XẾP HẠNG PHỤ ------------------------ */
.bietdoinoibat > .content > ul {
    width: 35%;
    padding: 0;
    margin-left: 20px;
}
.bietdoinoibat > .content > ul > li {
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    border: solid 2px white;
    padding-right: 5px;
    box-shadow: 0 0 10px rgb(50, 50, 50);

    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}
.bietdoinoibat > .content > ul > li img {
    border: solid 2px rgb(255, 255, 255);
    margin-right: 5px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 3px rgb(91, 91, 91);
    width: 70px;
    height: 70px;
}
.bietdoinoibat > .content > ul > li > div >.namegroup {
    font-weight: bold;
    margin: 0;
    font-size: 14px;
}
.bietdoinoibat > .content > ul > li > div > .ranks {
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: red;
}
div, img { 
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.bietdoinoibat.canhan {
    display: none;
}


@media screen and (max-width: 1170px) {
    .tintucnoibat > .content > .content-right > ul > li > a > img {
        width: 108px;
        height: 72px;
    }
    .tintucnoibat > .content > .content-right > ul > li > a > div > .caption {
        font-size: 13px;
    }
    .bietdoinoibat > .content > ul > li > div >.namegroup {
        font-size: 13px;
    }
    .bietdoinoibat > .content > ul > li > div > .ranks {
        font-size: 14px;
    }
}



@media screen and (max-width: 1050px) {
    .tintucnoibat > .content {
        display: block;
    }
    .tintucnoibat > .content > .content-left {
        width: auto;
        margin-right: 10px;
        border: none;
    }
    .tintucnoibat > .content > .content-right {
        border: none;
        margin-top: -20px;
        padding-top: 10px;
        border-top: solid 2px white;
        width: auto;
        margin-right: 10px;
        margin-left: 10px;
    }
    .tintucnoibat > .content > .content-right > ul > li > a > img{
        width: 120px;
        height: 80px;
    }
    .tintucnoibat > .content > .content-right > ul > li > a > div > .caption {
        font-size: 18px;
        height: 30px;
    }
    .bietdoinoibat > .content > ul > li > div >.namegroup {
        font-size: 18px;
    }

    .chiendichnoibat > .content > ul > li {
        display: block;
    }
    .chiendichnoibat > .content > ul > li > .pic_btn  {
        margin-right: 0;
        border-radius: 0;
    }
    .chiendichnoibat > .content > ul > li > .pic_btn > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .chiendichnoibat > .content > ul > li > .thongtinchiendich {
        border-radius: 0;
    }

    .bietdoinoibat > .content {
        display: block;
    }
    .bietdoinoibat > .content >.bangxephang {
        width: 100%;
    }
    .bietdoinoibat > .content > ul {
        width: auto;
        margin-left: 0;
    }
}

@media screen and (max-width: 790px) { 
    .tintucnoibat > .content > .content-right > ul > li > a > img{
        width: 117px;
        height: 78px;
    }
    .tintucnoibat > .content > .content-right > ul > li > a > div > .caption {
        font-size: 16px;
        height: 25px;
    }
    .bietdoinoibat > .content > ul > li > div >.namegroup {
        font-size: 16px;
    }
    .bietdoinoibat > .content > ul > li > div > .ranks {
        font-size: 14px;
    }

    .tintucnoibat > .content > .content-left > a > div > .caption {
        font-size: 26px;
    }

    
    .chiendichnoibat > .content > ul > li > .thongtinchiendich > div > p {
        font-size: 14px;
    }
}

@media screen and (max-width: 700px) {
    .tintucnoibat > .content > .content-right > ul > li > a > img{
        width: 114px;
        height: 74px;
    }
    .tintucnoibat > .content > .content-right > ul > li > a > div > .caption {
        font-size: 15px;
    }
    .bietdoinoibat > .content > ul > li > div >.namegroup {
        font-size: 15px;
    }
    .bietdoinoibat > .content > ul > li > div > .ranks {
        font-size: 13px;
    }

    .tintucnoibat > .content > .content-left > a > div > .caption {
        font-size: 22px;
    }


    .chiendichnoibat > .content > ul > li > .thongtinchiendich > div > p {
        font-size: 13px;
    }
}

@media screen and (max-width: 675px) {
    .tintucnoibat > .content > .content-right > ul > li > a > img{
        width: 105px;
        height: 70px;
    }
    .bietdoinoibat > .content > ul > li > div >.namegroup {
        font-size: 14px;
    }
}

@media screen and (max-width: 550px) {
    .tintucnoibat > .content, .chiendichnoibat > .content, .bietdoinoibat > .content {
        width: 100%;
    }
    .tintucnoibat > .content > .content-right > ul > li > a > img{
        width: 99px;
        height: 66px;
    }
    .tintucnoibat > .content > .content-left > a > div > .caption {
        font-size: 20px;
    }
    .tintucnoibat > .content > .content-right > ul > li > a > div > .caption {
        font-size: 13px;
    }
    .bietdoinoibat > .content > ul > li > div >.namegroup {
        font-size: 13px;
    }
    .bietdoinoibat > .content > ul > li > div > .ranks {
        font-size: 12px;
    }

    .chiendichnoibat > .content > ul > li > .thongtinchiendich > div > p {
        font-size: 12px;
    }
}


@media screen and (max-width: 450px) {
    .tintucnoibat > .content > .content-right > ul > li > a > img {
        width: 66px;
        height: 44px;
    }
    .tintucnoibat > .content > .content-left > a > div > .caption {
        font-size: 13px;
    }
    .tintucnoibat > .content > .content-left > a > div > .time {
        font-size: 9px;
    }
    .tintucnoibat > .content > .content-left > a > div > .node {
        margin-top: -10px;
        font-size: 10px;
    }
    .tintucnoibat > .content > .content-right > ul > li > a > div > .caption {
        font-size: 10px;
        height: 20px;
        margin-left: 5px;
    }
    .bietdoinoibat > .content > ul > li > div >.namegroup {
        font-size: 12px;
    }
    .bietdoinoibat > .content > ul > li > div > .ranks {
        font-size: 10px;
    }

    .tintucnoibat > .content > .content-right > ul > li > a > div > .time {
        font-size: 9px;
        margin-left: 5px;
    }

    .chiendichnoibat > .content > ul > li > .thongtinchiendich > div > p {
        font-size: 10px;
    }
}